html {
	margin: auto;
	background-color: rgb(167, 53, 132);
	max-width: 100%;
	min-width: 100%;
	height: auto;

}

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	height: 400vh;
	text-align: justify;
}

h1 {
	text-align: center;
}

.container-fluid#banner {
	height: 500px;
	overflow: hidden;
	position: relative;
	z-index: 6;

}

#bannerVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: -1;
}

.topnav {
  font-family: 'roboto slab', serif;
  background: rgba(0, 167, 157, 0.3);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  z-index: 100;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c851a4;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #a73584;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

#logoPanel {
	font-family: 'roboto slab', serif;
	color: white;
	background-color: rgb(0, 167, 157);
	padding-left: 5%;
	padding-right: 5%;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 5;
}

img#logo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 25px;
	height: auto;
	vertical-align: center;
}

.container-fluid#firstPanel {
	font-family: 'roboto slab', serif;
	background-color: rgba(167, 53, 132, 0.5);
	text-align: left;
	padding-bottom: 0px;
	position: relative;
	min-height: 73vh;
	max-height: 73vh;
	z-index: 4;
	overflow: hidden;
}

.container-fluid#firstPanel .col-xs-6 {
	bottom: 0;
	min-height: 100%;
	max-height: 100%;
	vertical-align: center;
}

.container-fluid#firstPanel h1 {
	color: white;
	font-size: 48px;
	font-family: 'roboto slab', serif;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.container-fluid#firstPanel h4 {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	max-width: 644px;
	text-align: justify;
}

.container-fluid#firstPanel a button#websitesLearn {
	font-family: 'roboto slab', serif;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 10px 8px 10px;
	border-radius: 8px;
	width: 100px;
	border: 2px solid rgb(0, 167, 157);
	background-color: rgb(0, 167, 157);
	color: white;
	cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.container-fluid#firstPanel a button#websitesLearn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-fluid#secondPanel {
	font-family: 'roboto slab', serif;
	background-color: rgba(0, 167, 157, 0.5);
	text-align: justify;
	padding-bottom: 0px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	position: relative;
	min-height: 73vh;
	max-height: 73vh;
	z-index: 4;
	padding: 0px;
	margin: 0;
	overflow: hidden;
}

.container-fluid#secondPanel h1{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 15px;
	padding-top: 5px;
}
.container-fluid#secondPanel h4{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10px;
}

.container-fluid#secondPanel #leftPanel {
	min-width: 50%;
	max-width: 50%;
	background-color: rgb(0, 167, 157);
	margin: 0;
	padding: 0;
	left: 0;
	color: white;
	top: 0;
	bottom: 0;
	min-height: 100%;
	max-height: 100%;
	position: absolute;

}

.container-fluid#secondPanel a button#cmsLearn {
	font-family: 'roboto slab', serif;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 8px 10px 8px 10px;
	border-radius: 8px;
	width: 100px;
	border: 2px solid rgb(167,53,132);
	background-color: rgb(167, 53, 132);
	color: white;
	cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.container-fluid#secondPanel a button#cmsLearn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-fluid#thirdPanel {
	font-family: 'roboto slab', serif;
	min-height: 73vh;
	max-height: 73vh;
	color: rgb(255,255,255);
	background-color: rgb(44, 96, 164);
	border-bottom: 2px solid rgba(255,255,255,0.5);
	position: relative;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 4;
	overflow: hidden;
}

img#arrows {
	opacity: 0.1;
	filter:alpha(opacity=10);
	padding: 0;
	margin: 0;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	bottom: 0;
	top: 30;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}

.container-fluid#thirdPanel h1 {
	color: rgb(255, 255, 255);
	background-color: rgba(44, 96, 164,1);
	z-index: 5;
}


.container-fluid#contactPanel {
	font-family: 'roboto slab', serif;
	min-height: 73vh;
	max-height: 73vh
	color: rgba(255,255,255,1.0);
	background-color: rgb(246, 139, 9);
	position: relative;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 4;
	overflow: hidden;
}

img#backPattern {
	opacity: 0.3;
	min-width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.container-fluid#contactPanel h1 {
	z-index: 5;
	color: rgba(255,255,255,1);
}

.container-fluid#contactPanel h4 {
	z-index: 5;
	color: rgba(255,255,255,1);
}

img#back {
	bottom: 0;
	margin: 0;
	position: fixed;
	min-width: 100%;
	max-width: 100%;
	min-height: 90%;
	max-height: 100%;

}


footer {
	bottom: 0;
	height: 20vh;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	background-color: purple;
	position: relative;
	color: white;
	overflow: hidden;
}

footer p#copyright {
	bottom: 0;
	text-align: center;
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
	padding: 0;
	padding-bottom: 10px;
	left: 0;
	right:  0;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 